body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

#search {
    padding: 8px;
    width: 300px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
}

.book img {
    max-width: 100%;
    height: auto;
}

.book h3 {
    margin-top: 0;
}

.book button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
   
}

.book button:hover {
    background-color: #0056b3;
}

.book img {
    width:183px;
    height:275px;
}